{% extends 'base.html.twig' %}


{% block content_header %}
<div class="content-header">
<div class="container-fluid">
         <div class="row">                
                    <div class="col-6">
                        <h4>{{ 'app.cart.title'|trans }}</h4>
                    </div>
                    <div class="col-6 text-right">
                        {{ form(clearForm) }}                         
                        {{ form_widget(clearForm.submit) }}
                        {{ form_end(clearForm) }}
                    </div>
        </div>    
</div>
</div>         
{% endblock %}


{% block body %}
<div class="container-fluid">        
        <div class="row ">
                <div class='table-responsive'>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{{ 'app.cart.table.column.product'|trans }}</th>
                        <th>{{ 'db.product.gongshi'|trans }}</th>
                        <th class='item-quantity-column'>{{ 'app.cart.table.column.quantity'|trans }}</th>
                        <th class='d-none d-sm-table-cell'>{{ 'db.product.priceTotal'|trans }}</th>
                        <th class='text-center'>{{ 'app.default.remove'|trans }}</th>                        
                    </tr>
                    </thead>                    
                    <tbody>
                    {% for item in orderFactory.items %}
                        <tr>
                            <td>{{ item.product.title }}</td>
                            <td>{{ item.product.price }} </td>
                            <td class="text-sm-center item-quantity-column">
                                {{ render(controller('App\\Controller\\CartController::setItemQuantityForm', {'id' : item.id})) }}
                            </td>
                            <td  class='d-none d-sm-table-cell'>
                                {{ item.priceTotal }}
                            </td>
                            <td class='text-center'>
                                {{ render(controller('App\\Controller\\CartController::removeItemForm', {'id' : item.id})) }}
                            </td>
                            
                        </tr>
                    {% endfor %}

                    <tfoot>
                   <tr>
                        <td colspan='2' class='text-left'>总计<span class="badge badge-warning">{{ order.itemsSingle }}</span></td>                         
                        <td>
                            {{ order.itemsTotal}}
                        </td>
                         <td colspan='2'>
                            {{ order.priceTotal}}
                        </td>
                    </tr>
                   </tfoot>
                  </tbody>
                </table>
                </div>
                
            </div>    
        </div>
   </div> 
{% endblock %}