{% extends 'base.html.twig' %}


{% block content_header %}
<div class="content-header">
<div class="container-fluid">
         <div class="row">                
                    <div class="col-12">
                        <h4>{{ 'app.cart.title'|trans({'%title%':order.id}) }}</h4>
                    </div>
                    
        </div>   
        <div class='row'>
        <div class="col-12 text-right">
        {{ form_start(clearForm) }}
        {{ form_widget(clearForm.submit) }}
        {{ form_widget(clearForm.clone) }} 
        <a href="{{ path('order_export',{id:order.id}) }}" class="btn-success btn"><i class="fa fa-file mr-2"></i>导出</a>
         {{ form_widget(clearForm.finish) }}
        {{ form_end(clearForm) }}
        </div>
        </div> 
</div>
</div>
{% endblock %}


{% block body %}
<div class="container-fluid">        
        <div class="row ">
                <div class='table-responsive'>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{{ 'app.cart.table.column.product'|trans }}</th>
                        <th>{{ 'db.product.gongshi'|trans }}</th>
                        <th class='item-quantity-column'>{{ 'app.cart.table.column.quantity'|trans }}</th>
                        <th class='item-quantity-column'>{{ 'app.cart.table.column.ratio'|trans }}</th>
                        <th class='d-none d-sm-table-cell'>{{ 'db.product.priceTotal'|trans }}</th>
                        <th class='text-center'>{{ 'app.default.remove'|trans }}</th>                        
                    </tr>
                    </thead>                    
                    <tbody>
                    {% for item in orderFactory.items %}
                        <tr>
                            <td>{{ item.product.title }}</td>
                            <td>{{ item.product.price }} </td>
                            <td class="text-sm-center item-quantity-column">
                                {{ render(controller('App\\Controller\\CartController::setItemQuantityForm', {'id' : item.id})) }}
                            </td>
                            <td class="text-sm-center item-ratio-column">
                                {{ render(controller('App\\Controller\\CartController::setItemRatioForm', {'id' : item.id})) }}
                            </td>
                            
                            
                            <td  class='d-none d-sm-table-cell'>
                                {{ item.priceTotal }}
                            </td>
                            <td class='text-center'>
                                {{ render(controller('App\\Controller\\CartController::removeItemForm', {'id' : item.id})) }}
                            </td>
                            
                        </tr>
                    {% endfor %}

                    <tfoot>
                   <tr>
                        <td colspan='2' class='text-left'>总计<span class="badge badge-warning">{{ order.itemsSingle }}</span></td>                         
                        <td>
                            {{ order.itemsTotal}}
                        </td>
                        <td>
                        </td>
                         <td colspan='2'>
                            {{ order.priceTotal}}
                        </td>
                    </tr>
                    
                    <tr>
                        <td colspan='1' class='text-left'>{{ form(selectMemberForm) }}</td> 
                        <td colspan='5' class='text-right changeCreatedForm'>
                          {{ form(changeCreatedForm) }}
                        </td>                        
                                               
                    </tr>
                    
                   </tfoot>
                  </tbody>
                </table>
                </div>
                
            </div>    
        </div>
   </div> 
{% endblock %}