{% extends 'base.html.twig' %}

{% block title %}找回密码{% endblock %}

{%  block body_id 'tellogin' %}
{% block javascripts %}
 {{ parent() }}
   <script src="{{ asset('build/js/telauth.js') }}"></script>
{% endblock %}

{% block body %}
<div class='col-xs-12 col-sm-6 offset-sm-3'>
<div class="login tellogin">
<form method="post"  class='form-signin'>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
     <h3 class='header_title'>找回密码</h3>
    <label for="inputTel" class="sr-only">Tel</label>
    <input  value="{{ last_username }}" name="tel" id="inputTel" oninvalid="this.setCustomValidity('请输入正确的手机号码')" class="form-control" placeholder="请输入您的手机号" required autofocus pattern="^1\d{10,10}$" {% if last_username %} readonly='readonly' {%  endif %} >
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="请输入验证码" pattern="^\d{6}$" required oninvalid="this.setCustomValidity('请输入6位数验证码')">
    <div id="phone-login-verifi-send"><button delay="60" class="btn btn-default form-control"  id="edit-verifi-send" name="send" value="点击发送验证码" type="button">点击发送验证码</button>
    </div>
    <div class="clearfix"></div>
    <input type="password" name="userpassword" id="inputUserPassword" class="form-control" placeholder="请设置您的新密码，至少六位" required oninvalid="this.setCustomValidity('输入密码至少六位')" data-min="6">
    
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

     {% if not last_username %} <div class="links"><a href="{{ path('app_login') }}">帐号登录</a> {%  endif %}

    <button class="btn btn-lg btn-primary  btn-block" type="submit">
       登录并重置密码
    </button>
</form>
</div>
</div>
{% endblock %}
