{% extends 'base.html.twig' %}

{% block title %}用户工单统计{% endblock %}



{%  block content_header %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h4>用户工单统计</h4>
          </div>
        </div>
 </div>
{% endblock  %}

{% block body %}
   {{ form_start(searchForm) }}
   {{ form_widget(searchForm.order_start) }}-{{ form_widget(searchForm.order_end) }}
   &nbsp;{{ form_widget(searchForm.user) }}&nbsp;
   &nbsp;{{ form_widget(searchForm.submit) }}
   <a href="{{ path('order_gdtj_user',{'order_start':'','order_end':''}) }}" class='btn btn-info ml-5'>全部</a>
   &nbsp;<a href="{{ lastMonthUrl  }}"  class='btn btn-info'>上月</a>
   &nbsp;<a href="{{ currentMonthUrl  }}"  class='btn btn-info'>本月</a>
   &nbsp;<a href="{{ lastYearUrl  }}"  class='btn btn-info'>去年</a>
   &nbsp;<a href="{{ currentYearUrl  }}"  class='btn btn-info'>本年</a>
   {{ form_end(searchForm) }}
   
   <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>用户</th>             
                <th>合计</th> </tr>
        </thead>
        <tbody>
        {% for order in orders %}  
            <tr>                              
                
                <td>{{ order.order.belongsTo.username}}</td>                   
                <td>{{ order.sumPriceTotal }}</td> 
            </tr>
        {% else %}
            <tr>
                <td colspan="7">无记录</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('order_gdtj_user',{'order_start':app.request.query.get('order_start'),'order_end':app.request.query.get('order_end'),'user':app.request.query.get('user'),'_format':'xls'}) }}" class='btn btn-info'><i class="fa fa-file mr-2"></i>导出</a>
 
   
    <div class="navigation">
            {{ knp_pagination_render(orders) }}
     </div>
   </div>    
{% endblock %}
