{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>名称</th>
                <th>{{ 'db.product.gongshi'|trans }}</th>
                <th class='text-center'>添加</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>               
                <td><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.title }}</a></td>
                <td>{{ product.price }}</td>
                 <td class='text-center'>
                  {{ render(controller('App\\Controller\\CartController::addItemForm', {'id' : product.id})) }}
               </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <div class="navigation">
            {{ knp_pagination_render(products) }}
     </div>

    {% if is_granted('ROLE_ADMIN') %} <a href="{{ path('product_new') }}" class='btn btn-success'>{{ 'db.product.create'|trans }}</a>{% endif %}
{% endblock %}
