{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{%  block content_header %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h4>{{ product.title }}</h4>
          </div>
        </div>
 </div>
{% endblock  %}


{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>编号</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>订单</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ product.created ? product.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>更新时间</th>
                <td>{{ product.updated ? product.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}" class='btn btn-info'>返回列表</a>

   {% if is_granted('ROLE_ADMIN') %} <a href="{{ path('product_edit', {'id': product.id}) }}" class='btn btn-info'>编辑</a>
    {{ include('product/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
