{% extends 'base.html.twig' %}

{% block title %}我创建的订单{% endblock %}

{%  block content_header %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h4>我创建的订单</h4>
          </div>
        </div>
 </div>
{% endblock  %}

{% block body %}
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>序号</th>             
                <th>合计</th>                
                <th>客户</th>
                <th>创建时间</th>
                <th class="d-none d-sm-table-cell">操作</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td><a href="{{ path('order_show', {'id': order.id}) }}">{{ order.id }}</a></td>              
                <td>{{ order.priceTotal }}</td>                 
                <td>{{ order.belongsTo ? order.belongsTo.username :'' }}</td>   
                 <td>{{ order.created ? order.created|date('Y-m-d H:i') : '' }}</td>    
                <td class="d-none d-sm-table-cell">                  
                    <a class="btn btn-info" href="{{ path('order_edit', {'id': order.id}) }}">修改</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">无记录</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
            {{ knp_pagination_render(orders) }}
     </div>
   </div>
  
{% endblock %}
