{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{%  block content_header %}
    <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h4>订单:{{ order.id }}</h4>
          </div>
        </div>
 </div>
{% endblock  %}




{% block body %}
   <div class="container-fluid">
        <div class="row">
          <div class="col-12">
             <div class=" p-3 mb-3 callout callout-info">
              <!-- title row -->
              <div class="row">
                <div class="col-12">                 
                    {{ order.belongsTo ? order.belongsTo.username :''}}
                    <span class="float-right">{{ order.created|date('Y-m-d H:i')  }}</span>
                 
                </div>
                <!-- /.col -->
              </div>
            
            
            

              <!-- Table row -->
              <div class="row mt-2">
                <div class="col-12 table-responsive">
                <table class="table table-bordered text-center">
                  <thead>
                    <tr>
                        <th>{{ 'app.cart.table.column.product'|trans }}</th>     
                        <th>{{ 'db.product.gongshi'|trans }}</th>                
                        <th>{{ 'app.cart.table.column.quantity'|trans }}</th>                        
                        <th>{{ 'db.product.priceTotal'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in order.orderItem %}
                        <tr>
                            <td class='text-left product-title'>{{ item.product.title }}</td>                    
                            <td>
                                {{ item.price }}
                            </td>
                            <td>
                                {{ item.quantity }}
                            </td>
                            
                            <td>
                                {{ item.priceTotal}}
                            </td>
                        </tr>
                     {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                        <td colspan='4'>&nbsp;
                        </td>
                        </tr>
                        <tr>
                        <th colspan='2' class='text-right'>产品种类</th>
                        <td colspan='2'>{{ order.itemsSingle}}</td>
                        </tr>
                         <tr>
                        <th colspan='2' class='text-right'>产品合计</th>
                        <td colspan='2'>{{ order.itemsTotal}}</td>
                        </tr>
                         <tr>
                        <th colspan='2' class='text-right'>订单总计</th>
                        <td colspan='2'>{{ order.priceTotal}}</td>
                        </tr>
                  </tfoot>                  
</table>
                
                
                 
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

            

              <!-- this row will not appear when printing -->
              
            </div>
            <div class="row no-print mt-3">
                <div class="col-12">
                  <a class="btn btn-info" href="{{ path('order_clone_confirm',{id:order.id}) }}">
                        <i class="fa fa-copy mr-2"></i> Clone Order
                  </a>                                   
                  <button type="button" class="btn btn-info float-right mr-2">
                    <i class="fa fa-download mr-2"></i> Generate PDF
                  </button>
                </div>
              </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div>
{% endblock %}
